body{
    background-image: linear-gradient( rgb(0 0 0) 0%,rgb(74 0 75) 25%,rgb(244 0 12) 66%)
}

#parent-flex1{
    margin-bottom: 1rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}
#facex-logo{
    height: 90px;
    border-radius: 50%;
}

#parent-flex2{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.child-flex{
    width: 20rem;
    color: black;
    text-transform: uppercase;
    margin: 1rem auto;
}
#child-flex1{
    font-size: 2em;
    font-weight: bold;
}
#child-flex2{
    margin-top: 1rem;
    height: 8rem;
}
#child-flex2>img{
    width: 70%;
    border-radius: 20%;
    height: 120%;
    object-fit: fill;
    object-position: center;
}
#child-flex3{
    font-size: 3em;
    font-weight: bolder;
}